@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}
body {
  background-color: #f5f5ff;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
canvas {
  border: 2px solid steelblue;
}
.toolbox {
  background-color: steelblue;
  border: 1px solid slateblue;
  display: flex;
  width: 604px;
  padding: 1rem;
}

.toolbox > * {
  background-color: #fff;
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  cursor: pointer;
  padding: 0.25rem;
  margin: 0.25rem;
  font-size: 2rem;
}
.toolbox > :last-child {
  margin-left: auto;
}
